<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wisata">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Wisata">
        <activity android:name=".About"></activity>
        <activity android:name=".Lamun" />
        <activity android:name=".Jembatan" />
        <activity android:name=".SurauMenara" />
        <activity android:name=".MasjidAlHakim" />
        <activity android:name=".Sate" />
        <activity android:name=".WisataReligi" />
        <activity android:name=".WisataKuliner" />
        <activity android:name=".Agrowisata" />
        <activity android:name=".MuseumGoedang" />
        <activity android:name=".Museum" />
        <activity android:name=".WisataEdukasi" />
        <activity android:name=".Istana" />
        <activity android:name=".Puncak" />
        <activity android:name=".LembahA" />
        <activity android:name=".Pemandian" />
        <activity android:name=".Pulau" />
        <activity android:name=".WisataAlam" />
        <activity android:name=".Lembah" />
        <activity android:name=".Alam" />
        <activity android:name=".MenuUtama" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>